[submodule "testing/googletest"]
	path = testing/googletest
	url = https://github.com/google/googletest.git
[submodule "benchmarking/googlebenchmark"]
	path = benchmarking/googlebenchmark
	url = https://github.com/google/benchmark
